.ex-1-square {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}
.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
}
.ex-3-square {
  width: 100px;
  height: 100px;
  background: red;
}
.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
}
.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
}
.ex-6-img,
.ex-7-img,
.ex-8-img {
  width: 500px;
}

.ex-9-img {
  margin: 50px 100px;
  width: 400px;
}
.ex-10-icon {
  font-size: 60px;
}
.ex-11-icon {
  font-size: 60px;
}
.ex-12-button,
.ex-13-button {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  border: 3px solid #1b3c59;
  color: #1b3c59;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}
.ex-12-top-white,
.ex-13-top-white {
  position: absolute;
  top: -10px;
  left: 10%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}
.ex-12-bottom-white,
.ex-13-bottom-white {
  position: absolute;
  bottom: -10px;
  right: 20%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}

/* Mio CSS */
/* #region Primo esercizio fatto */
.ex-1-square {
  transition: background-color 5s;
}
.ex-1-square:hover {
  background-color: red;
}
/* #endregion Primo esercizio fatto */

/* #region Secondo esercizio da riveder */
.ex-2-square {
  transition: width 5s;
}

.ex-2-square:active {
  width: 100vw;
  max-width: 97%;
}
/* #endregion Secondo esercizio */

/* #region Terzo esercizio fatta */
.ex-3-square {
  transition: border-radius 1s;
}

.ex-3-square:hover {
  border-radius: 50%;
}
/* #endregion Terzo esercizio */

/* #region Quarto esercizio fatto */
.ex-4-square {
  transition: opacity 1s;
}

.ex-4-square:hover {
  opacity: 0;
}
/* #endregion Quarto esercizio */

/* #region Quinto esercizio  fatto*/
.ex-5-square {
  transition: all 1s;
}

.ex-5-square:hover {
  width: 100px;
  height: 100px;
}

.ex-5-square:active {
  width: 30px;
  height: 30px;
}
/* #endregion Quinto esercizio */

/* #region Sesto esercizio  fatto*/
.ex-6-img:hover {
  filter: grayscale(1);
}
/* #endregion Sesto esercizio */

/* #region Settimo esercizio  fatto*/
.ex-7-img {
  transition: filter 5s;
}

.ex-7-img:hover {
  filter: grayscale(1);
}
/* #endregion Settimo esercizio */

/* #region Ottavo esercizio  fatto*/
.ex-8-img {
  transition: all 5s;
}

.ex-8-img:hover {
  filter: blur(2px) grayscale(20%);
  border-radius: 25px;
}
/* #endregion Ottavo esercizio */

/* #region Nono esercizio  fatto*/
.ex-9-img {
  transition: all 5s;
}

.ex-9-img:hover {
  filter: blur(2px) grayscale(20%);
  border-radius: 25px;
  width: 800px;
}
/* #endregion Nono esercizio */

/* #region Decimo esercizio */
.ex-10-icon {
  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #endregion Decimo esercizio */

/* #region Undici esercizio:hover */
.ex-11-icon:hover {
  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #endregion Undici esercizio */

/* #region Dodici esercizio */
.ex-12-button:hover .ex-12-top-white {
  animation-name: move-top-linea;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes move-top-linea {
  0% {
    left: 10%;
}
50% {
    left: calc(100% - 60px);
}
100% {
    left: 10%;
}
}

.ex-12-button:hover .ex-12-bottom-white {
  animation: move-bottom-linea;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes move-bottom-linea {
  0% {
    right: 20%;
}
50% {
    right: calc(100% - 60px);
}
100% {
    right: 20%;
}
}
/* #endregion Dodici esercizio */

/* #region Tredici esercizio */
.ex-13-button:hover .ex-13-top-white {
  animation-name: move-top;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes move-top {
  0% {
    left: 10%;
    top: -10px;
  }
  25% {
    left: 10%;
    top: -10px;
  }

  50% {
    left: calc(100% - 30px);
    top: 100%;
  }

  75% {
    left: 0;
    top: 100%;
  }

  100% {
    left: 10%;
    top: -10px;
  }
}

.ex-13-button:hover .ex-13-bottom-white {
  animation-name: move-bottom;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes move-bottom {
  0% {
    bottom: -10px;
    right: 20%;
  }
  25% {
    right: calc(100% - 30px);
    bottom: -10px;
  }

  50% {
    right: calc(100% - 30px);
    bottom: 100%;
  }

  75% {
    right: 0;
    bottom: 100%;
  }

  100% {
    bottom: -10px;
    right: 20%;
  }
}

/* #endregion Tredici esercizio */
